*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
RebelCms.config
Plugins\**.dll
*.vs10x
*.orig
*/App_Data/Logs/*
*/App_Data/ClientDependency/*
*/App_Data/RebelCms.sdf
Source/testimpactdata.sdf
Source/Web Apps/RebelCms.Cms.Web.UI/Web.config
*.DS_Store
Source/Web Apps/RebelCms.CMS.Web.UI/Web.config
Source/BuildOutput/*
Source/*.zip
glob:*.docstates
*/App_Data/RebelCms/web.config
*/Plugins/Packages/*
*/App_Data/Examine/*
*/App_Data/RebelCms/HiveConfig/web.config
glob:Source/Web Apps/RebelCms.CMS.Web.UI/App_Data/RebelCms/Media/*
*/App_Plugins/Packages/*
*/App_Data/RebelCms/Macros/*
*/App_Data/RebelCms/Media/*
*/App_Plugins/Core/Editors/*
*/App_Plugins/Core/Trees/*
*/App_Plugins/Core/PropertyEditors/*
*/App_Plugins/Core/Tasks/*
*/RebelCms.Cms.Web.UI/Scripts/RebelCms/*
*/RebelCms.Cms.Web.UI/Views/RebelCms/*
*.crunchproject.local.xml
Source/Web Apps/RebelCms.CMS.Web.UI/App_Plugins/Core/ParameterEditors/*
*.crunchsolution.local.xml
*/App_Plugins/Core/ParameterEditors/*
Source/Web Apps/RebelCms.Cms.Web.UI/Content/Styles/*
Source/Web Apps/RebelCms.Cms.Web.UI/Content/Images/*
*/App_Data/RebelCms/LocalPackages/*.nupkg
Source/Web Apps/RebelCms.Cms.Web.UI/App_Plugins/Core/lib/*
Source/Testing/RebelCms.Tests.CoreAndFramework/App_Data/Users.xml
Source/Testing/RebelCms.Tests.CoreAndFramework/App_Data/Roles.xml
Source/Web Apps/RebelCms.CMS.Web.UI/App_Plugins/Core/lib/*