.umb-tabs, .umb-tabs ul {
    height: 19px;
}

.umb-tabs li.tab {
    display: inline-block;
    width: auto;
    outline: medium none;
    height: 100%;
    float: left;
    position: relative;
    z-index: 100;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #a5c2dd;
    border-radius: 5px 5px 0 0;
    padding: 4px 8px 1px 4px;
    background-color: #fff;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.umb-tabs .tab a {
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
}

.umb-tabs .tab a:hover {
    text-decoration: underline;
}

.umb-tabs .tab a span {
    display: block;
}

.umb-tabs .tab.tab-on {
    background-color: #E2F0FD;
    padding-bottom: 2px;
}

.umb-tabs .tab.tab-on:only-of-type {
    padding-bottom: 0;
}

.umb-tabs .tab.tab-on a {
    background-position: 0 -150px;
}

.umb-tabs .tab.tab-on a span {
    background-position: 100% -150px;
    color: #333333;
    padding-bottom: 1px;
}

.umb-tabs .tab-content {

}
