<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="rebel">
      <section name="hive" type="Rebel.Hive.Configuration.HiveConfigSection, Rebel.Hive" requirePermission="false" restartOnExternalChanges="true" />
      <section name="pluginManager" type="Rebel.Framework.Configuration.PluginManagerConfiguration, Rebel.Framework" requirePermission="false" />
      <section name="framework" type="Rebel.Framework.Configuration.General, Rebel.Framework" requirePermission="false"/>
      <sectionGroup name="fileSystemProviderSettings">
        <section name="file-uploader" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="stylesheets" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="scripts" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="templates" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="partials" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="macros" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="macro-partials" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="stubs" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
        <section name="created-packages" type="Rebel.Hive.Providers.IO.ConfigSection, Rebel.Hive.Providers.IO" requirePermission="false" />
      </sectionGroup>
    </sectionGroup> 

    <sectionGroup name="rebel.cms">
      <section name="languages" type="Rebel.Cms.Web.Configuration.Languages.LanguagesConfiguration, Rebel.Cms.Web" requirePermission="false"/>
      <section name="applications" type="Rebel.Cms.Web.Configuration.ApplicationSettings.ApplicationConfiguration, Rebel.Cms.Web" requirePermission="false"/>
      <section name="trees" type="Rebel.Cms.Web.Configuration.ApplicationSettings.TreeConfiguration, Rebel.Cms.Web" requirePermission="false"/>
      <section name="dashboard-groups" type="Rebel.Cms.Web.Configuration.Dashboards.DashboardGroupConfiguration, Rebel.Cms.Web" requirePermission="false"/>
      <section name="system" type="Rebel.Cms.Web.Configuration.RebelSystem.RebelSystemConfiguration, Rebel.Cms.Web" requirePermission="false" />      
    </sectionGroup>

    <section name="security" type="Rebel.Framework.Security.Configuration.SecurityConfiguration, Rebel.Framework.Security" requirePermission="false"/>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>

  </configSections>

  <clientDependency configSource="App_Data\Rebel\Config\ClientDependency.config"/>
  <security configSource="App_Data\Rebel\Config\rebel.security.config" />

  <appSettings>
    <add key="log4net.Config" value="App_Data\Rebel\Config\log4net.config" />
    <!--<add key="RouteDebugger:Enabled" value="true"/>-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <log4net configSource="App_Data\Rebel\Config\log4net.config" />

  <rebel>
    <hive configSource="App_Data\Rebel\Config\rebel.hive.config" />
    <pluginManager pluginsFolder="~/App_Plugins" />
    <framework configSource="App_Data\Rebel\Config\rebel.framework.config" />
    <fileSystemProviderSettings>
      <file-uploader supportedExtensions="*.jpg;*.gif;*.pdf;*.docx" excludedDirectories=".*" rootPath="~/Content/Media" />
      <stylesheets supportedExtensions="*.css" excludedDirectories=".*" rootPath="~/Content/Styles" />
      <scripts supportedExtensions="*.js" excludedDirectories=".*" rootPath="~/Scripts" />
      <templates supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views" />
      <partials supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views/Partials" />
      <macro-partials supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views/MacroPartials" />
      <macros supportedExtensions="*.macro" excludedDirectories=".*" rootPath="~/App_Data/Rebel/Macros" />
      <stubs supportedExtensions="*" excludedDirectories=".*" rootPath="~/App_Data/Rebel/Stubs" />
      <created-packages supportedExtensions="*" excludedDirectories=".*" rootPath="~/App_Data/Rebel/CreatedPackages" />
    </fileSystemProviderSettings>
  </rebel>

  <rebel.cms>
    <languages configSource="App_Data\Rebel\Config\rebel.cms.languages.config" />
    <applications configSource="App_Data\Rebel\Config\rebel.cms.applications.config" />
    <trees configSource="App_Data\Rebel\Config\rebel.cms.trees.config" />
    <dashboard-groups configSource="App_Data\Rebel\Config\rebel.cms.dashboards.config" />
    <system configSource="App_Data\Rebel\Config\rebel.cms.system.config" />
  </rebel.cms>

  <connectionStrings/>

  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Micro-caching technique to ward against peak traffic. "rebel-default" profile is used by RebelController, the default controller used for regular pages -->
          <add name="rebel-default" duration="10" varyByParam="*" location="ServerAndClient"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    
    <httpRuntime requestValidationMode="2.0" />

    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" />
    </authentication>

    <membership defaultProvider="MembersMembershipProvider">
      <providers>
        <clear/>
        <add name="UsersMembershipProvider" type="Rebel.Cms.Web.Security.UsersMembershipProvider, Rebel.Cms.Web" 
             passwordFormat="Hashed" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" />
        <add name="MembersMembershipProvider" type="Rebel.Cms.Web.Security.MembersMembershipProvider, Rebel.Cms.Web" 
             passwordFormat="Hashed" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="MembersRoleProvider">
      <providers>
        <add name="MembersRoleProvider"
            type="Rebel.Cms.Web.Security.MembersRoleProvider, Rebel.Cms.Web" />
      </providers>
    </roleManager>

    <pages validateRequest="false" >
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="ClientDependency.Core" />
        <add namespace="ClientDependency.Core.Mvc" />
        <add namespace="Rebel.Cms.Web" />
        <add namespace="Rebel.Cms.Web.Context" />
        <add namespace="Rebel.Cms.Web.Editors" />
        <add namespace="Rebel.Cms.Web.EmbeddedViewEngine" />
        <add namespace="Rebel.Framework"/>
        <add namespace="Rebel.Hive"/>
        <add namespace="Rebel.Framework.Localization"/>
        <add namespace="Rebel.Cms.Web.Model" />
        <add namespace="Rebel.Cms.Web.Model.BackOffice" />
        <add namespace="Rebel.Cms.Web.Model.BackOffice.Editors" />
      </namespaces>
    </pages>

    <httpModules>
      <add name="RoleProviderAuthenticationModule" type="Rebel.Cms.Web.Security.RoleProviderAuthenticationModule, Rebel.Cms.Web"/>
      <add name="BackOfficeAuthenticationModule" type="Rebel.Cms.Web.Security.BackOfficeAuthenticationModule, Rebel.Cms.Web"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </httpHandlers>

    <!-- ENABLE THIS TO TEST IN MED TRUST -->
    <!--<trust level="Medium"/>-->
    <trace enabled="false" pageOutput="false" mostRecent="true" traceMode="SortByTime" requestLimit="50"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Disable WebDAV publishing for this application. The Rebel backoffice uses the DELETE http verb for item deletions, and the default WebDAV configuration returns 405 Method Not Allowed -->
      <remove name="WebDAVModule" />
      <remove name="RoleProviderAuthenticationModule"/>
      <remove name="BackOfficeAuthenticationModule"/>
      <add name="RoleProviderAuthenticationModule" type="Rebel.Cms.Web.Security.RoleProviderAuthenticationModule, Rebel.Cms.Web"/>
      <add name="BackOfficeAuthenticationModule" type="Rebel.Cms.Web.Security.BackOfficeAuthenticationModule, Rebel.Cms.Web"/>
      <remove name="ClientDependencyModule"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </modules>
    <handlers>
      <remove name="DependencyHandler"/>
      <!-- Disable WebDAV publishing for this application. The Rebel backoffice uses the DELETE http verb for item deletions, and the default WebDAV configuration returns 405 Method Not Allowed -->
      <remove name="WebDAV" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Plugins/bin;" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- custom config for the rebel back office -->
  <location path="Rebel">
    <system.web>
      <customErrors mode="On" defaultRedirect="Default/Error">
      </customErrors>
    </system.web>
  </location>

</configuration>

