<?xml version="1.0"?>
<system>

  <public-packages repositoryAddress="http://nuget.rebelcms.com/nuget/" />

  <folders
    backOfficeFolder="~/Areas/Rebel"

    docTypeIconFolder="~/Areas/Rebel/Content/Images/DocTypeIcons"
    docTypeThumbnailFolder="~/Areas/Rebel/Content/Images/DocTypeThumbs"
    appIconFolder="~/Areas/Rebel/Content/Images/AppIcons"

    scriptsFolder="~/Scripts"
    stylesheetsFolder="~/Content/Styles"
    templateFolder="~/Views"
    localPackageRepositoryFolder="~/App_Data/Rebel/LocalPackages"/>

  <urls removeDoubleDashes="true" stripNonAscii="true" urlEncode="false">
    <charReplacements>
      <add char=" " value="-" />
      <add char="&quot;" value="" />
      <add char="'" value="" />
      <add char="%" value="" />
      <add char="," value="" />
      <add char="." value="" />
      <add char=";" value="" />
      <add char="/" value="" />
      <add char=":" value="" />
      <add char="#" value="" />
      <add char="?" value="" />
      <add char="+" value="plus" />
      <add char="*" value="star" />
      <add char="&amp;" value="and" />
      <add char="æ" value="ae" />
      <add char="ø" value="oe" />
      <add char="å" value="aa" />
      <add char="ä" value="ae" />
      <add char="ö" value="oe" />
      <add char="ü" value="ue" />
      <add char="ß" value="ss" />
      <add char="Ä" value="ae" />
      <add char="Ö" value="oe" />
    </charReplacements>
  </urls>

  <paths
    backOfficePath="Rebel" localizationPath="Localization" />

  <routeMatches>
    <add route="/Error" type="Exclude" />
    <add route="/Rebel/Error/Msg" type="Exclude" />
    <add route="/Scripts" type="Exclude" />
    <add route="/Content" type="Exclude" />

    <add route="*" type="Include" />
    <add route="/an-excluded-path*" type="Exclude" />
  </routeMatches>

</system>
