<?xml version="1.0"?>
<trees>

  <add application="content" controllerType="Rebel.Cms.Web.Trees.ContentTreeController, Rebel.Cms.Web.Trees" />

  <add application="media" controllerType="Rebel.Cms.Web.Trees.MediaTreeController, Rebel.Cms.Web.Trees" />

  <add application="settings" controllerType="Rebel.Cms.Web.Trees.LanguageTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.DictionaryTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.DocumentTypeTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.MediaTypeTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.StylesheetTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.ScriptTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.TemplateTreeController, Rebel.Cms.Web.Trees" />
  <add application="settings" controllerType="Rebel.Cms.Web.Trees.PartialsTreeController, Rebel.Cms.Web.Trees" />

  <add application="developer" controllerType="Rebel.Cms.Web.Trees.DataTypeTreeController, Rebel.Cms.Web.Trees" />  
  <add application="developer" controllerType="Rebel.Cms.Web.Trees.PackagingTreeController, Rebel.Cms.Web.Trees" />
  <add application="developer" controllerType="Rebel.Cms.Web.Trees.MacroTreeController, Rebel.Cms.Web.Trees" />
  <add application="developer" controllerType="Rebel.Cms.Web.Trees.MacroPartialsTreeController, Rebel.Cms.Web.Trees" />

  <add application="users" controllerType="Rebel.Cms.Web.Trees.UserTreeController, Rebel.Cms.Web.Trees" />
  <add application="users" controllerType="Rebel.Cms.Web.Trees.UserGroupTreeController, Rebel.Cms.Web.Trees" />

  <add application="members" controllerType="Rebel.Cms.Web.Trees.MemberTreeController, Rebel.Cms.Web.Trees" />
  <add application="members" controllerType="Rebel.Cms.Web.Trees.MemberGroupTreeController, Rebel.Cms.Web.Trees" />
  <add application="members" controllerType="Rebel.Cms.Web.Trees.MemberTypeTreeController, Rebel.Cms.Web.Trees" />
</trees>
