<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="rebel">
      <sectionGroup name="persistenceProviderSettings">
        <section name="nhibernate" type="Rebel.Framework.Persistence.NHibernate.Config.ProviderConfigurationSection, Rebel.Framework.Persistence.NHibernate, Version=5.2.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="nhibernate.ConnString" connectionString="Data Source=PORTATLI\SQLEXPRESS; Initial Catalog=RebelCMS;User Id=RebelCrmUser;Password=rebel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings />
  <rebel>
    <persistenceProviderSettings>
      <nhibernate useNhProf="false" autoUpdateSchema="true" connectionStringKey="nhibernate.ConnString" outputNhMappings="false" sessionContext="web" driver="MsSql2008" />
    </persistenceProviderSettings>
  </rebel>
</configuration>