<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="rebel">
      <section name="framework" type="Rebel.Framework.Configuration.General, Rebel.Framework" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.web>
    <membership defaultProvider="test">
      <providers>
        <clear/>
        <add name="test"
                     type="Rebel.Tests.CoreAndFramework.Hive.DefaultProviders.Membership.CustomXmlMembershipProvider, Rebel.Tests.CoreAndFramework"
                     applicationName="Test"
                     enablePasswordReset="true"
                     enablePasswordRetrieval="false"
                     maxInvalidPasswordAttempts="5"
                     minRequiredNonAlphanumericCharacters="0"
                     minRequiredPasswordLength="4"
                     passwordAttemptWindow="10"
                     passwordFormat="Clear"
                     passwordStrengthRegularExpression=""
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="true"
                     caseSensitive="false"
                     useUniversalTime="true"
                     fileName="Users.xml"
                     folder="~/App_Data/"/>
        <add name="UsersMembershipProvider" type="Rebel.Cms.Web.Security.UsersMembershipProvider, Rebel.Cms.Web"
             passwordFormat="Hashed" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" />
        <add name="MembersMembershipProvider" type="Rebel.Cms.Web.Security.MembersMembershipProvider, Rebel.Cms.Web"
             passwordFormat="Hashed" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" />
      </providers>
    </membership>
  </system.web>

  <rebel>
    <framework>
      <cachePolicies default="Standard">
        <add name="Standard" durationSeconds="3600" />
        <add name="NewOne" durationSeconds="5" />
      </cachePolicies>
      <cacheProviders>
        <extendedLifetime provider="Rebel.Lucene.Caching.CacheProvider, Rebel.Lucene">
          <rules>
            <rule 
              forKeyType="Rebel.Hive.Caching.HiveQueryCacheKey, Rebel.Hive" 
              check="RelationType.RelationName == @0" 
              usePolicy="Standard">
              <param type="System.String" value="DefaultRelationType" />
            </rule>
            <rule 
              forKeyType="Rebel.Hive.Caching.HiveQueryCacheKey, Rebel.Hive" 
              check="RelationType.RelationName == @0" 
              usePolicy="NewOne">
              <param type="System.String" value="HostnameRelationType" />
            </rule>
          </rules>
        </extendedLifetime>
        <limitedLifetime provider="Rebel.Framework.Caching.PerHttpRequestCacheProvider, Rebel.Framework" />
      </cacheProviders>
    </framework>
  </rebel>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>