<?xml version="1.0"?>
<trees>

  <add application="content" controllerType="RebelCms.Cms.Web.Trees.ContentTreeController, RebelCms.Cms.Web.Trees" />

  <add application="media" controllerType="RebelCms.Cms.Web.Trees.MediaTreeController, RebelCms.Cms.Web.Trees" />

  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.LanguageTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.DictionaryTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.DocumentTypeTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.MediaTypeTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.StylesheetTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.ScriptTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.TemplateTreeController, RebelCms.Cms.Web.Trees" />
  <add application="settings" controllerType="RebelCms.Cms.Web.Trees.PartialsTreeController, RebelCms.Cms.Web.Trees" />

  <add application="developer" controllerType="RebelCms.Cms.Web.Trees.DataTypeTreeController, RebelCms.Cms.Web.Trees" />  
  <add application="developer" controllerType="RebelCms.Cms.Web.Trees.PackagingTreeController, RebelCms.Cms.Web.Trees" />
  <add application="developer" controllerType="RebelCms.Cms.Web.Trees.MacroTreeController, RebelCms.Cms.Web.Trees" />
  <add application="developer" controllerType="RebelCms.Cms.Web.Trees.MacroPartialsTreeController, RebelCms.Cms.Web.Trees" />

  <add application="users" controllerType="RebelCms.Cms.Web.Trees.UserTreeController, RebelCms.Cms.Web.Trees" />
  <add application="users" controllerType="RebelCms.Cms.Web.Trees.UserGroupTreeController, RebelCms.Cms.Web.Trees" />

  <add application="members" controllerType="RebelCms.Cms.Web.Trees.MemberTreeController, RebelCms.Cms.Web.Trees" />
</trees>
