<configuration>
  <configSections>
    <sectionGroup name="examine">
      <section name="examine.settings" type="Examine.Config.ExamineSettings, Examine"/>
      <section name="examine.indexes" type="Examine.LuceneEngine.Config.IndexSets, Examine"/>
    </sectionGroup>
    <sectionGroup name="rebel">
      <sectionGroup name="persistenceProviderSettings">
        <section name="examine" type="Rebel.Framework.Persistence.Examine.Config.ProviderConfigurationSection, Rebel.Framework.Persistence.Examine" />
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <rebel>
    <persistenceProviderSettings>
      <examine internalIndexer="HiveIndexer" internalSearcher="HiveSearcher" internalIndexSet="HiveIndexSet" />
    </persistenceProviderSettings>
  </rebel>

  <examine>
    <examine.settings>
      <indexProviders>
        <providers>
          <add name="HiveIndexer" type="Rebel.Framework.Persistence.Examine.RebelExamineIndexer, Rebel.Framework.Persistence.Examine" synchronizationType="Synchronized" />
        </providers>
      </indexProviders>
      <searchProviders defaultProvider="RebelInternalSearcher">
        <providers>
          <add name="HiveSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
        </providers>
      </searchProviders>
    </examine.settings>
    <examine.indexes>
      <indexSet setName="HiveIndexSet" indexPath="App_Data/Examine/HiveIndexSet"/>
    </examine.indexes>
  </examine>

</configuration>