.panel
{
	/*background: url(images/panel_bg.gif) top repeat-x !important;*/
}

.panelstatus
{
	margin: 0 auto; /* center for now */
	width: 17em; /* ems so it will grow */
	font-size: 100%;
}

.panel .boxhead
{
	position:absolute;
	top:3px;
	left:0px;
	right:0px;
    background-color: #E2F0FD;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #a5c2dd;
    width: 50%;
    border-radius: 3px 3px 0 0;
}

.panel .boxhead h2
{
	margin: 0;
	padding: 3px 0 3px 10px;
	font-weight: bold;
	text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #444;
	display: block;
	width: auto;
}

.panel .boxbody
{
    border: 1px solid #cac9c9;
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFF;
	position:absolute;
	top:25px;
	left:0px;
	bottom:12px;
	right:0px;
}

.panel .boxfooter
{
    display: none;
}

.panel .boxfooter .statusBar
{
	height: 12px;
	margin: 0px;
	/*background: url(images/panel_boxfooter_statusBar_bg.gif) top left no-repeat;*/
}
.panel .boxfooter .statusBar h5
{
	display: block;
	height: 12px;
	margin: 0px;
	padding: 0px;
	/*background: url(images/panel_boxfooter_statusBar_h2_bg.gif) top right no-repeat;*/
	font-size:11px;
	padding-left:10px;
	overflow:hidden;
}


/*
.panelstatus .boxfooter
{
	font-size: 9px;
	color: #999;
	height: 15px;
	padding: 5px 0 8px 15px;
}

.panel .content
{
	overflow: auto;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	position: relative;
	width: auto !important;
	width: 10em;
}

.panel .content .innerContent
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.panel .menubar_panel
{
	background-image: url(../tabView/images/background.gif);
	height: 32px;
	display: block;
	border-bottom: 1px solid #CAC9C9;
	border-left: 1px solid #CAC9C9;
	border-right: 1px solid #CAC9C9 !important;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}


.guiDialogTinyMark
{
	font-family: "Trebuchet MS" , verdana, arial;
	font-size: 10px;
	color: #606057;
}
*/
