@inherits System.Web.Mvc.WebViewPage<Rebel.Cms.Web.PropertyEditors.MultipleTextstring.MultipleTextstringEditorModel>
@using System.Web.Helpers;
@using System.Web.Mvc;
@using System.Web.Mvc.Ajax;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using System.Web.WebPages;
@using Microsoft.Web.Mvc;
@using ClientDependency.Core;
@using ClientDependency.Core.Mvc;
@using Rebel.Cms.Web;
@using Rebel.Cms.Web.Editors;
@using Rebel.Cms.Web.PropertyEditors.MultipleTextstring

@{
    Html.RequiresJsResource(typeof(MultipleTextstringEditor), "Rebel.Cms.Web.PropertyEditors.MultipleTextstring.Resources.MultipleTextstringPropertyEditor.js");
    
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                Rebel.PropertyEditors.MultipleTextstringPropertyEditor.getInstance().init({
                    rebelPropertyId: "@ViewBag.RebelPropertyId"
                });
            });
        })(jQuery);
    </script>
}

<ul class="multiple-textstring-inputs" data-bind="template: { name: 'textstringRow', foreach: textstrings }"></ul>

<script id="textstringRow" type="text/html">
    <li style='width: 250px;'><input type="text" data-bind="value: value" /></li>
</script>

@Html.HiddenFor(x => Model.Value, new Dictionary<string, object> { { "data-bind", "value: value" } })
