<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="umbraco.cms">
      <section name="tasks" type="Umbraco.Cms.Web.Configuration.Tasks.TasksConfiguration, Umbraco.Cms.Web" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <umbraco.cms>
    <tasks>
      <add type="Umbraco.Cms.Web.Tasks.PublishNodeTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="id" value="content://p__nhibernate/v__guid/00000000000000000000000000001048" />
        <parameter name="includeChildren" value="true" />
      </add>
    </tasks>
  </umbraco.cms>

  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
      </namespaces>
    </pages>
  </system.web>

</configuration>