<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="RebelCms">
      <sectionGroup name="persistenceProviderSettings">
        <section name="nhibernate" type="RebelCms.Framework.Persistence.NHibernate.Config.ProviderConfigurationSection, RebelCms.Framework.Persistence.NHibernate, Version=15.5.0.310, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="nhibernate.ConnString" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=RebelCms;User Id=umbraco;Password=umbraco" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings />
  <RebelCms>
    <persistenceProviderSettings>
      <nhibernate useNhProf="false" connectionStringKey="nhibernate.ConnString" outputNhMappings="false" sessionContext="web" driver="MsSql2008" />
    </persistenceProviderSettings>
  </RebelCms>
</configuration>