<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="rebel.cms">
      <section name="tasks" type="Rebel.Cms.Web.Configuration.Tasks.TasksConfiguration, Rebel.Cms.Web" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <rebel.cms>
    <tasks>
      <add type="Rebel.Cms.Web.Tasks.PublishNodeTask, Rebel.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="id" value="content://p__nhibernate/v__guid/00000000000000000000000000001048" />
        <parameter name="includeChildren" value="true" />
      </add>
    </tasks>
  </rebel.cms>

  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
      </namespaces>
    </pages>
  </system.web>

</configuration>